.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-color{
  background-color: #A74482;
  color:#282c34;
 
}
.nav-color1{
  background-color: #E899DC;
}
.nav-color2{
  background-color: #AAFAC8;
  color:#282c34;
}
.nav-color3{
  background-color: #66F5A1;
  color:#282c34;
}
.nav-color3:hover{
  background-color: #054E3C;
}
.card{
  background-color:  #E899DC;;
}
.card:hover {
 background-color: #A74482;
}
/* .nav-color1:hover{
  background-color: #A74482;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
